---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About Ashley Qingyang Zhang",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			My name is Qingyang 清扬, pronounced as <em>Chin-Young</em>. I was born in Suzhou, China, known for its serene gardens and canals that traverse the city.
		</p>
		<p>
			I hold a Master's Degree in Education Data Science from Stanford and a Bachelor of Science in
			Computer Science and Applied Psychology from NYU.
		</p>
	</div>
</PageLayout>
